@import "tailwindcss";

* {
  scroll-behavior: smooth;
  user-select: none;
}
.bg-white{
  background-color: #ffffff !important;
}
body {
  overflow-x: hidden;
  width: 100%;
  background-color: #ffffff;
}
body::-webkit-scrollbar {
  display: none;
}
.scroller_none::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding {
  padding-inline: 1rem;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-inline: 1rem;
  max-width: 1920px;
  margin-inline: auto;
}
@media (min-width: 750px) {
  .padding,
  .container {
    padding-inline: 2.5rem;
  }
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line-wrapper {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  display: block;
}
.split-line {
  display: block;
  text-align: inherit;
  will-change: transform;
}
.split-word {
  display: inline-block;
  white-space: nowrap;
}
.split-char {
  display: inline-block;
  will-change: transform, opacity, filter;
}


/* page transition css */
.PageTransition-curtainGradientLeft {
    background: linear-gradient(to left, #ffffff, #ffffffbc 19%, #ffffff8a 34%, #ffffff61 47%, #ffffff47 56.5%, #ffffff31 65%, #ffffff20 73%, #ffffff13 80.2%, #ffffff0b 86.1%, #ffffff05 91%, #ffffff02 95.2%, #ffffff01 98.2%, #ffffff00);
    width: 75vw;
    height: 100%;
    background-repeat: no-repeat;
}
.PageTransition-curtainGradientTop {
    background: linear-gradient(to top, #ffffff, #ffffffbc 19%, #ffffff8a 34%, #ffffff61 47%, #ffffff47 56.5%, #ffffff31 65%, #ffffff20 73%, #ffffff13 80.2%, #ffffff0b 86.1%, #ffffff05 91%, #ffffff02 95.2%, #ffffff01 98.2%, #ffffff00);
    width: 100%;
    height: 75lvh;
    background-repeat: no-repeat;
}
.PageTransition-curtainCentre {
    width: 100vw;
    height: 100lvh;
    background: #ffffff;
}
.PageTransition-curtainGradientBottom {
    background: linear-gradient(to bottom, #ffffff, #ffffffbc 19%, #ffffff8a 34%, #ffffff61 47%, #ffffff47 56.5%, #ffffff31 65%, #ffffff20 73%, #ffffff13 80.2%, #ffffff0b 86.1%, #ffffff05 91%, #ffffff02 95.2%, #ffffff01 98.2%, #ffffff00);
    width: 100%;
    height: 75lvh;
    background-repeat: no-repeat;
}
.PageTransition-curtainGradientRight {
    background: linear-gradient(to right, #ffffff, #ffffffbc 19%, #ffffff8a 34%, #ffffff61 47%, #ffffff47 56.5%, #ffffff31 65%, #ffffff20 73%, #ffffff13 80.2%, #ffffff0b 86.1%, #ffffff05 91%, #ffffff02 95.2%, #ffffff01 98.2%, #ffffff00);
    width: 75vw;
    height: 100%;
    background-repeat: no-repeat;
}